<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rgs.cems">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Dataretrive.FirebaseHandler"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_electry_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/electric"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PreviousUsage"></activity>
        <activity android:name=".Comparechart" />
        <activity android:name=".Ptot_graph" />
        <activity
            android:name=".DetailsDisplay"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NormalStuff.About" />
        <activity
            android:name=".Dataretrive.Report"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dataretrive.feedback"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NormalStuff.Myinfo"
            android:configChanges="orientation"
            android:label="@string/title_activity_myinfo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Auth.Signup"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Auth.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>